.row{
	margin-right: 0;
	margin-left: 0;
}		
@font-face {
	font-family: 'Raleway-Regular';
	font-style: normal;
	font-weight: 100;
	src: url(../fonts/Raleway-Regular.ttf);
}
.container{
	width: 100%;
	max-width: 1050px;
	margin: 0 auto;
}

body{
	overflow-x: hidden;
	font-family: 'Raleway-Regular', sans-serif;
	text-align: left;
}	
#main-sub{
	position: relative;
	margin-top: 90px;
	background-color: #f3f3f3;
}
#main-sub hr{
	border-top: 1px solid #999;
}
.form-horizontal .form-group{
	margin-left: 0;
	margin-right: 0;
}

/*animation*/
.fade-ani{opacity:0;position:relative;}
.fade-up{bottom:-50px;}
.fade-down{top:-50px;}
.fade-left{left:-50px;}
.fade-right{right:-50px;}

.fade-ani.showing{}
.fade-in.showing{opacity:1;}
.fade-up.showing{bottom:0px;opacity:1;}
.fade-down.showing{top:-0px;opacity:1;}
.fade-left.showing{left:-0px;opacity:1;}
.fade-right.showing{right:-0px;opacity:1;}
/*/animation*/

/*header*/

.header-main{
	border-bottom: 1px solid #999;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 15px;
	padding: 1px 15px;
	position: fixed;
	top: 0;
	width: 100%;
	background-color: #fff !important;
	z-index: 9999 !important;
	box-shadow: 2px 2px 5px #9996;
}
.sidenav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #036041;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
}

.sidenav a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 20px;
	color: #fff;
	display: block;
	transition: 0.3s;
	margin-bottom: 13px;
}

.sidenav a:hover {
	color: #f1f1f1;
}

.sidenav .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
}


#main {
	transition: margin-left .5s;
}
@media(max-width: 767px){
	.sidenav a{
		margin-bottom: 5px;
	}
}
@media screen and (max-height: 450px) {
	.sidenav {padding-top: 15px;}
	.sidenav a {font-size: 18px;}
}

.home-logo p{
	text-transform: uppercase;
	margin: 0;
	font-size: 23px;
}
.home-sec1 h1{
	font-size: 40px;
	text-align: center;
	font-weight: 100;
	letter-spacing: 0.1px;
	margin: 0 0 20px;
	color: #036041;
}
.home-container{
	background-color: #fff;
}
.home-logo a:hover{
	text-decoration: none;
}
.menu{
	font-size: 25px;
	cursor: pointer;
	color: #06c;
}	
.home-menu{
	display: flex;
	align-items: center;
}
.home-login1{
	color: #0066cc;
	font-size: 16px;
	border: 1px solid #0066cc;
	padding: 5px 15px;
	margin-right: 20px;
}
.home-login1:hover, .home-login1:focus, .home-login1:active, .home-login1:active:focus{	
	text-decoration: none;
	outline: 0;
	color: #0066cc;
}
.home-login2{
	background-color: #0066cc;
	font-size: 16px;
	border: 1px solid #0066cc;
	padding: 5px 15px;
	color: #fff !important;
}
.home-login2 .fa{ 
	color: #fff !important;
}
.home-login2:hover, .home-login2:focus, .home-login2:active, .home-login2:active:focus {
	color: #fff;
	text-decoration: none;
	outline: 0;	
}
.home-logo {
	position: relative;
	left: 5px;
}
.home-logo img {
	width: 75px;
}

@media(max-width: 767px){
	.home-login1, .home-login1:hover{
		font-size: 14px;
		margin-right: 2px;
	}
	.home-login2, .home-login2:hover{
		font-size: 14px;
	}	
}
@media(max-width: 350px){
	.home-login1, .home-login2{
		/*display: block;*/
		margin: 2px 0;
		text-align: center;
		font-size: 13px !important;
	}
}
#mySidenav2{
	display: none !important;
}
@media(max-width: 768px){
	#mySidenav{
		display: none !important;
	}
	#mySidenav2{
		display: block !important;
		margin-top: 89px;
		overflow: auto;
	}
}

/*/header*/

/*======================= /header ============================*/

/*footer*/
.footer-main{
	background-color: #036041; 
	padding: 20px 0;
	color: #fff;
}
.footer-main h1{
	margin: 0 0 20px;
	font-size: 20px;
	font-weight: 100;
	letter-spacing: 0.1px;
	color: #ffcc00;
}
.footer-icon{
	text-align: center;
	margin-bottom: 20px;
}
.footer-icon a, .footer-icon a:hover{
	color: #fff;
}
.footer-icon .fa{
	margin: 0 10px;
	font-size: 30px;
}
.footer-contact .fa{
	font-size: 16px;
}
.footer-para1, .footer-para2, .footer-para3{
	position: relative;
	padding-left: 40px;
	font-size: 15px;
	line-height: 1.6;
	letter-spacing: 0.1px;
}
.footer-para1:before{
	content: "\f015";
	position: absolute;
	left: 1px;
	font-family: "fontAwesome";
	font-size: 25px;
	top: -5px;
}
.footer-para2:before{
	content: "\f10b";
	position: absolute;
	left: 5px;
	font-family: "fontAwesome";
	font-size: 30px;
	top: -12px;
}
.footer-para3:before{
	content: "\f0e0";
	position: absolute;
	left: 1px;
	font-family: "fontAwesome";
	font-size: 19px;
	top: -4px;
}
.footer-para3 a{
	color: #fff;
}
.footer-ul{
	list-style: none;
	display: block;
	border-top: 1px solid #999;
	padding: 20px 0 0;
}
.footer-ul li{
	display: inline-block;
	margin-right: 20px;
}
.footer-ul li a{
	color: #fff;
	font-size: 15px;
}
.footer-ul li a:hover{
	color: #fff;
	text-decoration: none;
}
/*/footer*/

/*========================== /footer ==================*/	

/*section1*/
.home-sec1{
	padding: 40px 0 0;

}
.home-sec1 p{
	font-size: 15px;
	line-height: 1.6;
	letter-spacing: 0.1px;
	/*text-align: justify;*/
	text-align: left;
	margin-bottom: 20px;
}
/*/section1*/

/*section2*/
.home-sec2{
	padding: 40px 0;
	text-align: center;
	transition:all ease-out 1s 0s;
}
.home-sec2-mid{
	background-color: #f5f5f5;
	padding: 20px 10px;
	border: 1px solid #999;
	border-radius: 10px;
	margin-bottom: 20px;
	min-height: 350px;
}
.home-sec2-para{
	font-size: 30px;
	font-weight: 100;
	margin-bottom: 30px;
}
.home-sec2-para span{
	font-weight: 700;
	color: #036041;
}
.home-sec2-fa .fa{
	font-size: 40px;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background-color: #036041;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin: 0 auto;
}
.home-sec2-text{
	margin: 10px 0;
}
.home-sec2-text h1{
	font-size: 22px;
	font-weight: 100;
	letter-spacing: 0.1px;
	text-align: center;
}
.home-sec2-text p{
	font-size: 15px;
	letter-spacing: 0.1px;
	line-height: 1.6;
	/*text-align: justify;*/
	text-align: left;
}

@media(max-width: 767px){
	.home-sec2-mid{
		min-height: 0;
	}
}
/*/section2*/

/*======================= /home ===================*/

/*section1*/
.performance-sec1{
	text-align: center;
	transition:all ease-out 1s 0s;

}
.performance-sec1 .container{
	background-color: #fff;
	padding: 40px 15px;
}
.service-table > thead > tr > th{
	vertical-align: middle;
	border-bottom: 2px solid #ddd;
	width: 12.5%;
	text-align: center;
}
.performance-sec1 h3{
	margin: 0 0 20px;
	font-size: 40px;
	font-weight: 100;
	color: #036041;
}
.performance-sec1 p{
	font-size: 17px;
	letter-spacing: 0.1px;
	line-height: 1.6;
	text-align: center;
	margin: 0 0 20px;
}
.service-table thead{
	background-color: #036041;
	color: #fff;
	font-size: 15px;
}
.service-table > tbody > tr > td{
	font-size: 16px;
	padding: 13px;
}

/*section1*/
/*===================== performance pricing ===============*/	


.about-why{
	background-image: url("../img/b2.jpg");
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
}
.about-why-sub{
	background-color: #0003;
	padding: 40px 0;
	width: 100%;
	height: 100%;
}
.about-why-mid{
	background-color: #fff9;
	padding: 20px 10px;
	border: 1px solid #fff;
	border-radius: 10px;
}
@media(max-width: 768px){
	.about-why-mid{
		margin-bottom: 20px;
	}
}
.about-why-sub h2{
	font-size: 40px;
	text-align: center;
	color: #ffcc00;
	font-weight: 100;
	line-height: 1.6;
	margin: 0 0 20px;
}
.about-why-mid h1{
	color: #000 !important;
}
.about-why-mid p{
	color: #000 !important;
}

/*section1*/	
.about-sec1{	
	text-align: center;
	transition:all ease-out 1s 0s;
	background-color: #f3f3f3;
}
.about-sec1 .container{
	background-color: #fff;
	padding: 40px 15px;
}
.about-sec1 h1{
	margin: 0 0 20px;
	font-size: 40px;
	font-weight: 100;
	color: #036041;
}
.about-sec1-mid{
	position: relative;
	padding: 20px 0;

}
.about-sec1-mid .col-lg-pull-7{
	right: 41.33333333%;
}
.about-sec1-mid .col-lg-push-5{
	left: 58.33333333%;
}
.about-sec1-mid img{
	width: 100%;
	height: 350px;
	object-fit: contain;
}
.about-sec1-mid h2{
	font-size: 20px;
	font-weight: 100;
	color: #036041;
	margin: 20px 0 7px;
}
.about-sec1-mid h3{
	font-size: 18px;
	font-weight: 100;
	color: #999;
	margin: 0 0 20px;
}
.about-sec1-mid p{
	font-size: 16px;
	letter-spacing: 0.1px;
	line-height: 1.6;
	/*text-align: justify;*/
	margin-bottom: 20px;
	text-align: left;
}
@media(max-width: 500px){
	.about-sec1 .col-xs-6{
		width: 100%;
	}
}
.social-icon{
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: space-around;
	padding: 5px 15px;
	margin-bottom: 20px;
}
.social-icon a, .social-icon a:hover{
	font-size: 20px;
	text-decoration: none;
}

.social-icon .fa{
	font-size: 22px;
	width: 45px;
	height: 45px;
	border-radius: 50%;
	background-color: #fff;
	color: #0066cc;
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin: 0 auto;
	border: 1px solid #0066cc;
}
@media(max-width: 768px){
	.about-sec1-mid .col-lg-pull-7{
		right: 0;
	}
	.about-sec1-mid .col-lg-push-5{
		left: 0;
	}
	.about-sec1-mid .col-xs-12{
		padding: 0;
	}
}
.about-sec1 hr{
	border-top: 2px solid #999;
}
/*/section1*/
/*======================= /about ===================*/


/*section1*/
.client-sec1{
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	text-align: center;
	color: #fff;
	transition:all ease-out 1s 0s;

}
.client-sec1-sub{
	padding: 40px 0;
	background-color: #999;
}
.client-sec1 h1{
	margin: 0 0 20px;
	font-size: 30px;
	font-weight: 700;
	color: #ffcc00;
}
.client-sec1 p span{
	color: #ffcc00;
}
.client-sec1 p{
	font-size: 20px;
	letter-spacing: 0.1px;
	line-height: 1.6;
	text-align: center;
	margin: 0 0 30px;
	font-weight: 600;
}
.client-sec1-img img{
	width: 200px;
	height: 200px;
	object-fit: fill;
}
.client-sec1-text p{
	font-size: 16px;
	letter-spacing: 0.1px;
	line-height: 1.6;
	/*text-align: justify;*/
	text-align: left;
	margin: 0 0 20px;
	position: relative;
	padding: 0 20px;
	font-weight: 100;
}
.client-sec1-text p:before{
	position: absolute;
	content: "";
	background-image: url("../img/quote.png");
	width: 23px;
	height: 20px;
	top: -6px;
	z-index: 9999999;
	left: -8px;
	background-size: contain;
	background-repeat: no-repeat;
}
.client-sec1-text p:after{
	position: absolute;
	content: "";
	background-image: url("../img/quote.png");
	width: 23px;
	height: 20px;
	bottom: -20px;
	z-index: 9999999;
	right: 4px;
	background-size: contain;
	background-repeat: no-repeat;
	transform: rotate(-180deg);
}
.client-sec1 .col-lg-8{
	text-align: left;
	padding-top: 20px;
}
.client-sec1 .item .row{
	display: flex;
	align-items: center;
	justify-content: space-around;
}
@media(max-width: 700px){
	.client-sec1 .item .row{
		display: block;
	}
	.client-sec1-text{
		margin-top: 20px;
	}
}
.client-sec1 .carousel-indicators{
	bottom: -20px;
}	
.carousel-indicators .active {
	width: 12px;
	height: 12px;
	margin: 0;
	background-color: #ffcc00;
}
/*/section1*/	

/*======================= /client ===================*/

.blog-sec1{
	background-color: #f3f3f3;

}
.blog-sec1 .container{
	background-color: #fff;
	padding: 30px 15px;
}
.blog-sec1-head{
	font-size: 50px;
	text-align: center;
	font-weight: 100;
	letter-spacing: 0.1px;
	color: #ffcc00;
	text-transform: uppercase;
	background-image: url("../img/b1.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	height: 200px;
	margin: 0;
	background-position: 0 -142px;
	margin-bottom: 30px;
}
.blog-sec1-head span{
	background-color: #0000004d;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.blog-sec1-mid{
	background-color: #fff;
	border: 2px solid #999;
	padding: 20px;
	border-radius: 10px;
	margin-bottom: 20px;
	transition: all ease-out 1s 0s;
}
.blog-sec1-mid:hover{
	transform: translate(0, -10px);
}
.blog-sec1-img img{
	width: 100%;
	height: 170px;
	object-fit: contain;
}
.blog-sec1-text h1{
	color: #036041;
	font-weight: 100;
	font-size: 25px;
	margin: 10px 0;
	text-align: center;
}
.blog-sec1-text ul{
	list-style: none;
	padding: 0;
	display: inline-block;
}
.blog-sec1-text ul li{
	display: inline-block;
	margin-right: 20px;
	padding-left: 20px;
	position: relative;
	font-size: 14px;
	color: #000;
	cursor: pointer;
}
.blog-li1:before{
	position: absolute;
	font-family: FontAwesome;
	content: "\f007";
	color: #036041;
	color: #036041;
	font-size: 18px;
	position: absolute;
	top: -3px;
	left: -3px;
}
.blog-li2:before{
	content: "\f1d8";
	font-family: FontAwesome;
	text-decoration: inherit;
	color: #036041;
	font-size: 18px;
	position: absolute;
	top: -3px;
	left: -3px;
}	

.blog-li3:before{
	content: "\f086";
	font-family: FontAwesome;
	text-decoration: inherit;
	color: #036041;
	font-size: 18px;
	position: absolute;
	top: -3px;
	left: -3px;
}
.blog-li4:before{
	content: "\f164";;
	font-family: FontAwesome;
	text-decoration: inherit;
	color: #036041;
	font-size: 18px;
	position: absolute;
	top: -3px;
	left: -3px;
}
.blog-sec1-text ul li span{
	color: #777;
}
.blog-sec1-text p{
	font-size: 15px;
	letter-spacing: 0.1px;
	line-height: 1.6;
	/*text-align: justify;*/
	text-align: left;
	overflow: hidden;
	text-overflow: ellipsis;
	height:50px;
	position: relative;
	padding:0 0.5em;
	color: #000;
}
.blog-sec1-text p:before{
	content:'...';
	background:inherit;
	position:absolute;
	bottom:0;
	right:0;
}
.blog-btn{
	padding: 10px 20px;
	color: #fff;
	background-color: #0066cc;
	margin: 10px 0 0;
	display: block;
	width: 120px;
	text-align: center;	
}
.blog-btn:hover{
	color: #fff;
	background-color: #0066cc;
	text-decoration: none;		
}

@media(max-width: 500px){
	.blog-sec1 .col-xs-6{
		width: 100%;
	}
}
.blog-all{
	text-align: center;
	border: 1px solid #999;
	background-color: #f3f3f3;
	margin-bottom: 20px;
}
.blog-all h1{
	color: #036041;
	font-weight: 100;
	font-size: 25px;
	margin: 10px 0;
}
.blog-all a{
	font-size: 20px;
	color: #000;
}
.blog-all hr{
	margin: 0;
}
.blog-all .nav-tabs > li.active > a, .blog-all .nav-tabs > li.active > a:focus, .blog-all .nav-tabs > li.active > a:hover{
	color: #0066cc;
}	
.blog-pager a{
	color: #0066cc;
	font-size: 18px;		
}
.blog-read-more p{
	height: auto;
	text-overflow: initial;
}
.blog-read-more p::before{
	content: "";
}


/*================= blog=========================*/

.privacy-main{

	background-color: #f3f3f3;
}
.privacy-main hr{
	width: 200px;
	margin: 10px auto 20px;
	border-top: 2px solid #777;
}
.privacy-main .container{
	background-color: #fff;
}
.privacy-main h1{
	font-size: 40px;
	text-align: center;
	font-weight: 100;
	letter-spacing: 0.1px;
	margin: 35px 0 10px;
	color: #036041;
}
@media(max-width: 767px){
	.privacy-main h1{
		font-size: 30px;
	}
}
.privacy-main h3{
	font-size: 20px;
	font-weight: 100;
	margin-bottom: 30px;
	color: #0066cc;
}
.privacy-main ol{
	padding-left: 20px;
}
.privacy-main ol li{
	font-size: 19px;
	color: #036041;		
	font-weight: 100;
}
.privacy-main span{
	font-size: 19px;
	font-weight: 100;
	margin-bottom: 10px;
	color: #036041;
}
.privacy-main p{
	font-size: 15px;
	letter-spacing: 0.1px;
	line-height: 1.6;
	/*text-align: justify;*/
	text-align: left;
	margin-bottom: 20px;
	color: #000;
	font-weight: 100;
}
/*================privacy============*/

.contact-sec1{

	background-color: #f3f3f3;
}
.contact-sec1 .container{
	background-color: #fff;
	padding: 30px 0 10px;
}
.contact-sec1-head{
	font-size: 40px;
	text-align: center;
	font-weight: 100;
	letter-spacing: 0.1px;
	margin: 20px 0;
	color: #036041;
	text-transform: uppercase;
}
.contact-mid1 h4{
	color: #036041;
	font-size: 22px;
	margin-bottom: 0.8em;
	font-weight: 100;
	letter-spacing: 1px;
}	
.contact-mid1 label{
	font-size: 15px !important;
	color: #2d3134 !important;
}
.contact-mid1 input{
	width: 100%;
	padding: 3px 5px;
	font-size: 15px;
	margin-bottom: 15px;
	outline: none;
	background: transparent;
	border: 1px solid #999;
	border-radius: 4px;
}
.contact-mid1 textarea{
	height: 80px;
	width: 100%;
	padding: 3px 5px;
	font-size: 15px;
	margin-bottom: 15px;
	outline: none;
	background: transparent;
	border: 1px solid #999;
	border-radius: 4px;
}
.contact-mid1 input[type="submit"] {
	font-size: 16px;
	font-weight: 100;
	padding: 7px 20px;
	margin-top: 1em;
	outline: none;
	background: #0066cc;
	color: #fff;
	border: none;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
.contact-mid2 h4{
	color: #036041;
	font-size: 22px;
	margin-bottom: 20px;
	font-weight: 100;
	letter-spacing: 1px;
	text-align: center;
}
.contact-mid2 h5{
	color: #777;
	font-size: 17px;
	margin-top: 20px;
	font-weight: 100;
	letter-spacing: 0.1px;
}
.contact-name{
	font-size: 16px !important;
	color: #212121 !important;
	line-height: 1.8 !important;
	font-weight: 100;
	letter-spacing: 0.1px !important;
}
.contact-icon{
	display: flex;
	align-items: center;
	margin-bottom:  20px;
	justify-content: space-around;
}
.contact-icon a, .contact-icon a:hover{
	font-size: 20px;
	color: #036041;
	text-decoration: none;
}
.contact-icon .fa {
	font-size: 27px;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: #fff;
	color: #0066cc;
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin: 0 auto;
	border: 1px solid #0066cc;
}
.contact-icon .fa:hover {
	color: #fff;
	background-color: #036041;
	border: 1px solid #036041;
}
.contact-mid2 p{
	font-size: 15px;
	line-height: 1.8em;
	margin: 0 0 15px;
	letter-spacing: 0.1px;
}
.contact-map{
	padding: 10px 0;
}
.cont-info p{
	color: #000;
}
.cont-info .footer-para1::before{
	content: "\f015";
	position: absolute;
	left: 1px;
	font-family: "fontAwesome";
	font-size: 25px;
	top: 2px;
	color: #036041;
}
.cont-info .footer-para2::before{
	content: "\f10b";
	position: absolute;
	left: 5px;
	font-family: "fontAwesome";
	font-size: 30px;
	top: 1px;
	color: #036041;
}
.cont-info .footer-para3::before{
	content: "\f0e0";
	position: absolute;
	left: 1px;
	font-family: "fontAwesome";
	font-size: 19px;
	top: -1px;
	color: #036041;
}
.cont-info .footer-para3 a{
	color: #000;
}
/*============= contact =============*/

.signup-main{
	background-color: #f3f3f3;
	width: 100%;
	height: 100%;
	padding: 20px 35px;
	display: block;
}
#login, #signup, .kyc-popup, .myaccount-popup, .subscriber-popup, #investor-ques{
	width: 30%;
	position: fixed;
	top: 95px;
	border: 2px solid #999;
	right: 12px;
	display: none;
}	
@media(max-width: 1200px){
	#login, #signup, .kyc-popup, .myaccount-popup, .subscriber-popup, #investor-ques{
		width: 50%;
	}
}
@media(max-width: 992px){
	#login, #signup, .kyc-popup, .myaccount-popup, .subscriber-popup, #investor-ques{
		width: 70%;
	}
}
@media(max-width: 600px){
	#login, #signup, .kyc-popup, .myaccount-popup, .subscriber-popup, #investor-ques{
		width: 95%;
	}
	.signup-main{
		padding: 20px 5px;
	}
}

.signup-main h1{
	margin: 0 0 20px;
	font-size: 24px;
	font-weight: 100;
	color: #036041;
	text-align: center;
}
.signup-main label{
	color: #000 !important;
}
.signup-main textarea{
	width: 100%;
}
.signup-main a, .signup-main a:hover{
	color: #000;
}
.signup-main input[type="submit"]{
	font-size: 16px;
	font-weight: 100;
	padding: 7px 20px;
	margin-top: 1em;
	outline: none;
	background: #0066cc;
	color: #fff;
	border: none;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
.signup-close {
	font-size: 25px;
	padding: 0px 3px !important;
	outline: none;
	background: #ffcc00 !important;
	color: #06c;
	border: 1px solid #fff !important;
	opacity: 1;
	border-radius: 5px;
	float: right;
	cursor: pointer;
}
.signup-social{
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin: 20px 0;
}
.signup-social .fa-facebook {
	font-size: 22px;
	width: 45px;
	height: 45px;
	border-radius: 50%;
	background-color: #3b5998;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin: 0 auto;
	border: 1px solid #3b5998;
}
.signup-social .fa-google {
	font-size: 22px;
	width: 45px;
	height: 45px;
	border-radius: 50%;
	background-color: #db3236;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin: 0 auto;
	border: 1px solid #db3236;
}
.signup-social .fa-google:hover, .signup-social .fa-google:hover{
	text-decoration: none;
	outline: 0;
}
.signup-divide {	
	padding: 20px 0;
	text-align: center;
}
.signup-divide span{
	background-color: #f3f3f3;
	padding: 10px;
}
.signup-divide hr{
	border-top: 1px solid #333;
	margin: 0 0 -10px
}

/*===================== signup============*/

.services-sec1{

	background-color: #f3f3f3;
}
.services-sec1 .container{
	background-color: #fff;
	padding: 20px 15px;
	/*text-align: center;*/
}
.services-sec1 h1{
	font-size: 40px;
	text-align: center;
	font-weight: 100;
	letter-spacing: 0.1px;
	margin: 20px 0;
	color: #036041;
	/*text-transform: uppercase;*/
}
.services-sec1 p{
	font-size: 15px;
	letter-spacing: 0.1px;
	line-height: 1.6;
	text-align: center;
	margin: 0 0 20px;
	/*text-align: justify;*/
	text-align: left;
}
.services-sec1 h2{
	font-size: 22px;
	font-weight: 100;
	letter-spacing: 0.1px;
	line-height: 1.6;
	text-align: center;
	border: 1px solid #999;
	width: 50%;
	margin: 10px auto;
	padding: 10px;
	background-color: #f3f3f3;
	cursor: pointer;
}
.services-sec1 h2 span{
	font-weight: 100;
	color: #036041;
	font-size: 25px
}
.services-sec1 h3{
	font-size: 25px;
	font-weight: 100;
	margin: 20px 0 0;
	letter-spacing: 0.1px;
	line-height: 1.6;
	color: #036041;
}
.services-sec1 h4{
	font-size: 17px;
	font-weight: 100;
	margin: 0;
	letter-spacing: 0.1px;
	line-height: 1.6;
}
.services-sec1 h4 span{
	font-weight: 100;
	min-width: 187px;
	display: inline-block;
}
.services-sec1-mid{
	width: 50%;
	margin: 0 auto;
	padding: 10px;
	background-color: #f3f3f3;
	cursor: pointer;
	border: 1px solid #999;
}
@media(max-width: 900px){
	.services-sec1-mid, .services-sec1 h2{
		width: 80%;
	}
}
@media(max-width: 600px){
	.services-sec1-mid, .services-sec1 h2{
		width: 100%;
	}
	.services-sec1 h1{
		font-size: 30px;
	}
}
@media(max-width: 400px){
	.services-sec1 h4 span{
		min-width: 0;
	}
}
/*================ services==========*/

.faq{
	background-color: #f3f3f3;
}
.faq .container{
	background-color: #fff;
	padding: 40px 15px;
}
.faq h1 {
	text-align: center;
	margin: 0 0 20px;
	font-size: 40px;
	font-weight: 100;
	color: #036041;
}
.faq-panel{
	margin: 10px 0 !important;
}
.faq-panel .panel-heading {

	color: #0066cc !important;
	background-color: #f3f3f3 !important;
	border-color: #999 !important;

}
.faq-panel a{
	font-size: 17px;
	letter-spacing: 0.1px;
	line-height: 1.6;
}
.faq-panel a:hover, .faq-panel a:focus, .faq-panel a:active, .faq-panel a:active:focus{
	text-decoration: none;
	outline: 0;
}
.faq-panel .panel-body{
	font-size: 15px;
	letter-spacing: 0.1px;
	line-height: 1.6;
	/*text-align: justify;*/
	text-align: left;
}

/*============== FAQ ==================*/

.current{
	background-color: #f3f3f3;
}
#example_length{
	display: none;
}
.current tr{
	cursor: pointer;
}
.current tr:hover{
	background-color: #f3f3f3 !important;
}
.current .container{
	background-color: #fff;
	padding: 40px 15px;
}
tfoot input {
	width: 100%;
	padding: 3px;
	box-sizing: border-box;
}
table.dataTable thead th, table.dataTable thead td{
	color: #0066cc;
	font-size: 14px;
}
table.dataTable thead .sorting_asc {
	background-image: url("../img/sort_asc.png");
text-align: center;
}
table.dataTable thead .sorting {
	background-image: url("../img/sort_both.png");
text-align: center;
}
.current td{
	font-family: initial !important;
font-size: 16px;
text-align: right;
color: #777;
}
.current td:nth-child(4){
	text-align: center;
}
.current-td-red{
	color: red !important;
}
.current-td-green{
color: green !important;
}
.current h1{
	text-align: center;
	margin: 0 0 40px;
	font-size: 40px;
	font-weight: 100;
	color: #036041;
}

.current label, .performance-sec1 label{
	color: #0066cc;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {

	color: #0066cc !important;
	border: 1px solid #999;
	background: linear-gradient(to bottom, #fff 0%, #f3f3f3 100%);
	font-size: 16px;

}
.dataTables_wrapper .dataTables_paginate .paginate_button{
	color: #0066cc !important;
	font-size: 16px;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {

	color: white !important;
	border: 1px solid #0066cc;
	background-color: #0066cc !important;
	background: linear-gradient(to bottom, transparent 0%, #0066cc 100%);
}
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled{
	color: #0066cc !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {

	cursor: default;
	color: #fff !important;
	border: 1px solid transparent;
	background: transparent;
	background-color: transparent;
	box-shadow: none;

}
table.dataTable.stripe tbody tr.odd, table.dataTable.display tbody tr.odd , table.dataTable tbody tr, 
table.dataTable.display tbody tr.even > .sorting_1, table.dataTable.order-column.stripe tbody tr.even > .sorting_1, table.dataTable.display tbody tr.odd > .sorting_1, table.dataTable.order-column.stripe tbody tr.odd > .sorting_1 {
	background-color: transparent;
	height: 30px;
}
.table-bg{
	background-color: #f3f3f3;

}
.dataTables_filter, .dataTables_info{
	display: none;
}

/*=============== Performnace/ Current Recoomandation ===========*/

.login-header{
	border-bottom: 1px solid #999;
	display: block;
	padding: 0 15px;
	padding: 1px 15px;
	position: fixed;
	top: 0;
	width: 100%;
	background-color: #fff !important;
	z-index: 9999 !important;
	box-shadow: 2px 2px 5px #9996;
}
.login-header .home-logo{
	display: inline-block;
	position: relative;
}
.login-menu{
	display: inline-block;
	float: right;
	margin-top: 35px;

}
.login-menu .dropdown-menu{
	left: initial;
	top: 38px;
	padding: 10px;
	right: -12px;
}
.login-menu .dropdown-menu .glyphicon, .login-menu .dropdown-menu .fa{ 
	color: #0066cc !important;
}
.stock-menu{
	color: #0066cc;
	font-size: 20px;
	position: absolute;
	top: 45%;
	left: 111px;
	background-color: #f3f3f3;
	padding: 10px;
	cursor: pointer;
	border: 1px solid #999;
	border-bottom-width: 1px;
	border-bottom: 0;
	display: flex;
}
.stock-menu .glyphicon{
	padding-right: 10px;
}
.stock-menu:hover, .stock-menu:active, .stock-menu:active:focus, .stock-menu:focus{
	color: #0066cc;
	text-decoration: none;
	outline: 0;
}
.stock-768{
	display: none !important;
}
#menu1{
	font-size: 16px;
	color: #0066cc;
	cursor: pointer;
}
#menu1:hover, #menu1:active, #menu1:focus, #menu1:active:focus{
	color: #0066cc;
	text-decoration: none;
	outline: 0;
}

.stock .container{
	background-color: #fff;
	padding: 40px 15px;
}
.stock h1{
	margin: 0 0 20px;
	font-size: 30px;
	font-weight: 100;
	color: #036041;
}
.stock p{
	/*text-align: justify;*/
	text-align: left;
	margin: 0 0 20px;
	font-size: 16px;
	font-weight: 100;
	letter-spacing: 0.1px;
	line-height: 1.6;
}
.stock-ul{
	list-style: none;
	padding: 0;
}
.stock-ul li{
	/*text-align: justify;*/
	text-align: left;
	margin: 0;
	font-size: 13px;
	font-weight: 100;
	letter-spacing: 0.1px;
	color: red;
}
.stock-ul li span{
	font-size: 25px;
}
@media(max-width: 500px){
	.stock-menu{
		display: none;
	}
	.stock-768{
		display: block !important;
	}
}
/*================ stock/ Login===============*/

.myprofile .container{
	padding: 40px 15px;
	background-color: #fff;
}
.myprofile h1{
	margin: 0 0 20px;
	font-size: 30px;
	font-weight: 100;
	color: #036041;
}
.myprofile form{
	width: 50%;
}
.myprofile label{
	text-align: left !important;
}
.myprofile-btn, .myprofile-btn:hover{
	background-color: #0066cc;
	color: #fff;
	font-size: 16px;
	border: 1px solid #0066cc;
	border-radius: 0;
}
@media(max-width: 900px){
	.myprofile form{
		width: 80%;
	}
}
@media(max-width: 600px){
	.myprofile form{
		width: 100%;
	}
}

/*=============== my profile ================*/

.kyc .container{
	padding: 40px 15px;
	background-color: #fff;
}
.kyc h1{
	margin: 0 0 20px;
	font-size: 30px;
	font-weight: 100;
	color: #036041;
}
.kyc p{
	/*text-align: justify;*/
	text-align: left;
	margin: 0 0 20px;
	font-size: 16px;
	font-weight: 100;
	letter-spacing: 0.1px;
	line-height: 1.6;
}
#kyc-form{
	width: 300px;
	margin: 35px 0;		
}
.kyc-details{
	/*display: none;*/
	margin: 35px 0;
}
.kyc-submit, .kyc-edit{
	background-color: #0066cc;
	color: #fff;
	font-size: 16px;
	border: 1px solid #0066cc;
	border-radius: 0;
}
.kyc-details p{
	font-size: 14px;
	margin: 0;
}
/*================ KYC =================*/

.riskprofile .container{
	background-color:  #fff;
	padding: 40px 15px;
}
.riskprofile h1{
	margin: 0 0 20px;
	font-size: 30px;
	font-weight: 100;
	color: #036041;
}
.riskprofile p{
	/*text-align: justify;*/
	text-align: left;
	margin: 0 0 20px;
	font-size: 16px;
	font-weight: 100;
	letter-spacing: 0.1px;
	line-height: 1.6;
}
.riskprofile-submit{
	background-color: #0066cc;
	color: #fff;
	font-size: 16px;
	border: 1px solid #0066cc;
	border-radius: 0;
}
.risk-edit{
	background-color: #0066cc;
	color: #fff;
	font-size: 16px;
	border: 1px solid #0066cc;
	border-radius: 0;
	margin-top: 20px;
}
.riskprofile label{
	color: #036041;
	font-size: 15px;
}
.riskprofile-output{
	border: 1px solid #999;
}
.riskprofile-result{
	text-align: center;
	padding: 10px 0;
}
.riskprofile-result h1{
	margin: 20px 0;
	font-size: 30px;
	font-weight: 100;
	color: #000;
}
.riskprofile-result h1 span{
	font-size: 30px;
	font-weight: 100;
	color: #036041;
}
.riskprofile-output ul{
	padding: 0;
}
.riskprofile-output li{		
	/*text-align: justify;*/
	text-align: left;
	margin: 0 0 5x;
	font-size: 15px;
	font-weight: 100;
	letter-spacing: 0.1px;
	line-height: 1.6;
}
.riskprofile-output .row{
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding: 20px 0;
}
.riskprofile-output hr{
	margin: 0;
}
.riskprofile-output p{
	text-align: center;
	margin: 0;
	font-size: 20px;
	color: #036041;
}
.riskprofile-output .active{
	background-color: #036041;
	color: #fff !important;
} 
.riskprofile-output .active p{
	color: #fff !important;
}
/*==================== Risk Profile ==============*/


.signout .container{
	padding: 40px 15px;
	background-color: #fff;
	height: 58vh;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.signout .row{
	width: 100%;
}
.signout-login{
	width: 43%;
	margin: 0 auto;
	text-align: center;
}
.signout-login h1{
	margin: 0 0 30px;
	font-size: 30px;
	font-weight: 100;
	color: #036041;
	font-weight: bold;
}
.forgot{
	text-align: right;
	font-size: 15px;
}
.forgot a:hover, .forgot a:active, .forgot a:active:focus, .forgot a:focus{
	text-decoration: none;
}
.signout input[type="submit"] {
	font-size: 16px;
	font-weight: 100;
	padding: 7px 20px;
	margin-top: 1em;
	outline: none;
	background: #0066cc;
	color: #fff;
	border: none;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
	width: 100%;
}

/*================= signout =================*/

.forgot-main .container{
	padding: 40px 15px;
	background-color: #fff;
	height: 65vh;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.forgot-main .row{
	width: 100%;
}
.forgot-login{
	width: 43%;
	margin: 0 auto;
	text-align: center;
}
.forgot-login h1{
	margin: 0 0 30px;
	font-size: 30px;
	font-weight: 100;
	color: #036041;
	font-weight: bold;
}
.forgot-login input[type="submit"] {
	font-size: 16px;
	font-weight: 100;
	padding: 7px 20px;
	margin-top: 1em;
	outline: none;
	background: #0066cc;
	color: #fff;
	border: none;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
	width: 100%;
}

.forgot-login p{		
	/*text-align: justify;*/
	text-align: left;
	margin: 0 0 20px;
	font-size: 16px;
	font-weight: 100;
	letter-spacing: 0.1px;
	line-height: 1.6;
}

@media(max-width: 900px){
	.forgot-login, .signout-login{
		width: 60%;
	}
}
@media(max-width: 500px){
	.forgot-login, .signout-login{
		width: 90%;
	}
}

/*=================== forgot password ================*/

.myaccount .container{
	background-color: #fff;
	padding: 40px 15px;
	min-height: 58vh;
}
.myaccount h1{
	margin: 0 0 20px;
	font-size: 30px;
	font-weight: 100;
	color: #036041;
}
.myaccount .tab-content{
	padding: 20px 0;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {

	cursor: default;
	background-color: #fff;
	border: 1px solid #ddd;
	border-bottom-color: rgb(221, 221, 221);
	border-bottom-color: transparent;
	font-size: 20px;
	color: #0066cc;
	outline: 0;
}
.myaccount .nav-tabs > li > a{
	font-size: 20px;
	color: #000;
}
#myaccount1 p{
	font-size: 16px;
	margin-bottom: 5px;
	font-weight: 100;
	color: #000;
	letter-spacing: 0.1px;
}
#myaccount1 p span{
	font-size: 18px;
	font-weight: 100;
	color: #036041;
	letter-spacing: 0.1px;
}

#myaccount2 .panel-collapse{
	padding: 0 15px 20px;
}
#myaccount2 h3{
	margin: 20px 0;
	font-size: 20px;
	font-weight: 600;
	color: #036041;
}
#myaccount2 .col-lg-3 p{
	color: #000;
	font-size: 16px;
	text-align: right;
	margin: 0 0 10px;
}
#myaccount2 .col-lg-9 p{
	color: #333;
	font-size: 15px;
	text-align: left;
	margin: 0 0 10px;
}
@media(max-width: 600px){
	#myaccount2 .col-lg-3, #myaccount2 .col-lg-9{
		width: 100%;
	}
	#myaccount2 .col-lg-3 p{
		text-align: left;			
	}
}

@media(max-width: 400px){
	.myaccount .nav-tabs > li > a {
		font-size: 18px;
		color: #000;
	}
}
#myaccount2 .btn-info{
	background-color: #0066cc;
}

/*=================== my account ============*/

.changepassword .container{
	height: 58vh;
}

@media(max-width: 600px){
	.changepassword h1{
		font-size: 25px;
	}
}

/*=============== change password ============*/

.investor .container{
	background-color: #fff;
	padding: 40px 15px;
}
.investor h1{
	margin: 0 0 20px;
	font-size: 40px;
	font-weight: 100;
	color: #036041;
	text-align: center;
}
.investor ul {
	list-style: none;
	padding: 0;
	display: inline-block;
	margin: 10px 0 0;
	width: 100%;
}
.investor ul li{   
	display: inline-block;
	margin-right: 20px;
	padding-left: 20px;
	position: relative;
	margin-bottom: 10px;
	font-size: 14px;
}

.investor-title{
	margin: 10px 0 0;
}
/*.investor-title a span{
	background-color: #036041;
	color: #fff;
	font-size: 18px;
	padding: 10px;
	position: absolute;
	left: -4px;
	top: -10px;
	}*/
	.investor-title {
		color: #0066cc;
		font-size: 18px;
		position: relative;
		/*padding-left: 50px;*/
		display: block;
	}
	.investor-title:hover, .investor-title:active, .investor-title:active:focus, .investor-title:focus{
		color: #0066cc;
		font-size: 18px;
		text-decoration: none;
		outline: 0;
	}
	.investor-title ul li{
		color: #777;
	}
	.investor-ans h2{		
		margin: 0 0 20px;
		font-size: 20px;
		font-weight: 100;
		color: #036041;
	}
	.investor-ans p{		
		margin: 0 0 10px;
		font-size: 15px;
		font-weight: 100;
		text-align: left;
		letter-spacing: 0.1px;
		border: 1px solid #999;
		padding: 10px;
		position: relative;
		border-radius: 10px;
	}
	.investor-reply{
		display: block;
		text-align: right;
		font-size: 15px;
		color: #0066cc;
		margin-top: 10px;
	}
	.investor-ans p:before {
		border-color: transparent transparent #999 transparent;
		border-style: solid;
		border-width: 15px 15px 15px 15px;
		height: 0px;
		width: 0px;
		content : "";
		position: absolute;
		left: -30px;
		transform: rotate(-90deg);

	}
	.investor-btn{
		padding: 10px 20px;
		color: #fff;
		background-color: #0066cc;
		margin: 0;
		display: block;
		text-align: center;
		border: 0;
	}
	.investor-ask{
		padding: 10px 20px;
		color: #fff;
		background-color: #0066cc;
		margin: 10px 0 0;
		display: block;
		text-align: center;
		border: 0;
		float: right;
		font-size: 16px;
		cursor: pointer;
	}
	.investor-ans-ul, .investor-ans-ul ul{
		padding-left: 30px !important;
	}
	.investor-ans-ul li{
		display: inline-block !important;
		padding-left: 20px !important;
		margin-right: 0 !important;
		position: relative !important;
		margin-bottom: 0 !important;
		font-size: 14px !important;
		width: 100% !important;
	}
	.investor-ans-form .form-group{
		width: 49%;
	}
	.investor-ans-form input[type="text"]{
		width: 100%;
	}
	.investor-ans hr{
		margin: 10px 0;
		border-top: 2px dotted #909090 !important;
	}
	@media(max-width: 550px){
		.investor h1{
			font-size: 30px;
		}
		.investor-ask{
			display: block;
			float: none;
		}
		.investor .col-lg-4, .investor .col-lg-8{
			width: 100%;
		}
		.investor ul {
			padding: 0;
		}
	}

	/*=================== Investor Forum =========*/

	.kyc-popup p{
		font-size: 16px;
		/*text-align: justify;*/
		text-align: left;
		font-weight: 100;
		letter-spacing: 0.1px;
		margin: 0 0 20px;
		color: #036041;
		line-height: 1.6;
	}
	.kyc-popup a, .kyc-popup a:hover{
		font-size: 16px;
		font-weight: 100;
		padding: 7px 20px;
		margin-top: 1em;
		outline: none;
		background: #0066cc;
		color: #fff !important;
		border: none;
		transition: 0.5s all;
		-webkit-transition: 0.5s all;
		-moz-transition: 0.5s all;
		-o-transition: 0.5s all;
		-ms-transition: 0.5s all;
		text-decoration: none;
	}

	.myaccount-popup p{
		font-size: 16px;
		text-align: center;
		font-weight: 100;
		letter-spacing: 0.1px;
		margin: 10px 0;
		color: #036041;
		line-height: 1.6;
	}

	.myaccount-btn{
		font-size: 16px;
		font-weight: 100;
		padding: 7px 20px;
		outline: none;
		background: #0066cc;
		color: #fff !important;
		border: none;
		transition: 0.5s all;
		-webkit-transition: 0.5s all;
		-moz-transition: 0.5s all;
		-o-transition: 0.5s all;
		-ms-transition: 0.5s all;
		width: 200px;
		display: block;
		margin: 0 auto;
	}
	.subscriber-popup .signup-main{
		background-color: #fff;
	}
	.subscriber-popup p{
		font-size: 16px;
		text-align: center;
		font-weight: 100;
		letter-spacing: 0.1px;
		margin: 10px 0;
		color: #036041;
		line-height: 1.6;
	}
	#investor-ques h1{
		margin: 0 0 20px;
		font-size: 24px;
		font-weight: 100;
		color: #036041;
		text-align: center;
	}

	/*============= All Popup ============*/

	#myPDF{
		height: 100%;
		width: 100%;
	}
	.touchPDF > .pdf-outerdiv{
		padding: 7px !important;
		left: 0 !important;
		position: relative !important;
	}
	.touchPDF > .pdf-outerdiv > .pdf-viewer{
		top: 42px !important;
	}
	.touchPDF > .pdf-outerdiv > .pdf-toolbar{
		color: #000;
		text-align: center;
		left: 0 !important;
	}
	.touchPDF > .pdf-outerdiv > .pdf-toolbar > .pdf-title{
		display: none;
	}

	.rc-anchor-normal{
		width: 290px !important;
	}


	@media(max-width: 600px){
		.current h1, .performance-sec1 h3, .faq h1{
			font-size: 30px;
		}
		.forgot-main .container, .signout .container, .changepassword .container{
			height: auto;
		}
	}


	@media(max-height:530px){
		#mySidenav2, #signup{
			height: 100%;
			max-height: 350px;
			overflow-y: scroll;
			-webkit-overflow-scrolling:touch;
		}
		#signup{
			background-color: #f3f3f3;
		}
	}

	@media(max-height:430px){
		#mySidenav2, #signup{
			height: 100%;
			max-height: 300px;
			overflow-y: scroll;
			-webkit-overflow-scrolling:touch;
		}
	}
	@media(max-height:360px){
		#mySidenav2, #signup{
			height: 100%;
			max-height: 250px;		
			overflow-y: scroll;
			-webkit-overflow-scrolling:touch;
		}
	}
	.custom-error{
		z-index: 99999;
		position: fixed;
		width: 75%;
		margin: 0 12.5%;
		color: #fff;
		font-weight: bold;
		text-align: center;
		font-size: 18px;
		padding: 1%;
		box-shadow: 0px 2px 5px #000c;
		text-shadow: 0px 1px 2px #000c;
	}
	.custom-error-red{
		background: #d50000cc;
	}
	.custom-error-blue{
		background: #015ed5cc;
	}
	.custom-error .home-login2{
		background-color: #f00;
		font-size: 16px;
		border: 1px solid #f00;
		padding: 5px 15px;
		color: #fff;
		box-shadow: 0px 2px 3px #3b3b3b;
		font-weight: bold;
	}
	@media(max-width: 600px){
		.custom-error{
			font-size: 14px;
			width: 100%;
			margin: 91px auto 0;
		}
		.custom-error .home-login2{
			font-size: 13px;
		}
	}
	.custom-error span {
		float: right;
		padding-top: 0.5%;
		cursor: pointer;
	}

	.risk-error{
		color: red;
		font-weight: bold;
	}
	@media(max-width: 890px){
		.footer-sebi{
			float: none !important;
			width: 100%;
			text-align: center;
			display: block;
			margin-top: 10px;
		}
	}

	.ig-img{
		width: 100px;
		margin: 0 auto;
		padding: 0 10px;
	}
	.ananomis-modal{
		top: 25%;
	}

	.ananomis-modal h4{
		margin: 0;
		font-size: 25px;
		font-weight: 100;
		color: #036041;
	}

	.ananomis-modal .btn{
		font-size: 16px;
		font-weight: 100;
		padding: 7px 20px;
		margin-top: 1em;
		outline: none;
		background: #0066cc;
		color: #fff;
		border: none;
		transition: 0.5s all;
		-webkit-transition: 0.5s all;
		-moz-transition: 0.5s all;
		-o-transition: 0.5s all;
		-ms-transition: 0.5s all;
	}

	.loading-forum{
		width: 100%;
		text-align: center;
		font-size: 22px;
		margin-top: 30px;
		color: gray;
	}

	
	.pdf-main .container{
		background-color: #fff;
		padding: 30px 15px;
		min-height: 60vh;
	}
	.pdf-main h1{
		font-size: 30px;
		color: #036041;
	}
	.pdf-main li{
		font-size: 16px;
		text-align: left;
		font-weight: 100;
		letter-spacing: 0.1px;
		margin: 10px 0;
		color: #333;
		line-height: 1.6;
	}
	.pdf-outerdiv{
		margin: 0 auto;
	}

	.terms-modal{
		top: 70px;
	}
	.terms-modal .modal-title{
		font-size: 30px;
		font-weight: 100;
		color: #036041;
		text-align: center;
		margin: 0;
	}

	.terms-pop{
		overflow-x: scroll;
		overflow-y: none;
		height: 380px;
	}

	.enquiry-h1{
		margin-top: 30%;
		font-size: 28px;
	}

	.report-li p{
		font-size: 22px;
		float: left;
		color: #4a4a4a;
	}
	.report-li div{
		float: left;
		margin: 0px 10px;
	}
	.report-li div a{
		float: left;
		margin: 0px 10px;
	}